<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= yield(:title) %> | Songstart</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a page about our company.
    </p>
  </body>
</html>