<% provide(:title, "FAQ") %>
<h1>Frequently Asked Questions:</h1>
<p>
  Here you will find answers to some of our most asked questions from users. Don't see an answer to your question? Feel free to contact us!
</p>