<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
       <title><%= yield(:title) %> | Songstart</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Here are some of our frequently asked questions.
    </p>
  </body>
</html>