
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Welcome to Songstart, #{@user.name}!
    %p
      Congratulations on joining our unique community of music lovers!

    %p Have a great day!
    %p Heart, Songstart